<section class="about-me">
    <div class="about-me__general">
        <div class="about-me__container-image">
            <img src="img/default-user.jpg" class="about-me__image" alt="Foto de perfil">
        </div>

        <h2 class="about-me__name">ALEJANDRO SANTILLÁN</h2>
        <div class="about-me__job">Desarrollador Web</div>
        <p class="about-me__tagline">Automatizando Procesos y Creando soluciones</p>
    </div>

    <div>
        <h2 class="about-me__perfil-general-title">¿Quien Soy?</h2>
        <p class="about-me__perfil-general-text">
            Desarrollador web con experiencia en C#, ASP.NET MVC y .NET 8, 
            especializado en construir aplicaciones internas para optimizar procesos. 
            Manejo SQL Server, JavaScript, Bootstrap y Python básico para análisis de datos. 
            Mi interés principal se encuentra en la creación de soluciones automatizadas
        </p>
    </div>

    <div class="about-me__strengths">
        <h2 class="about-me__strengths-title">Fortalezas</h2>
        <ul class="about-me__strengths-list">
            <li class="about-me__strengths-element-list element-list">• Aaptabilidad a nuevas tecnlogias</li>
            <li class="about-me__strengths-element-list element-list">• Optimización de procesos repetitivos</li>
            <li class="about-me__strengths-element-list element-list">• Conocimiento en patrones de diseño</l>
            <li class="about-me__strengths-element-list element-list">• Dirigido a resultados medibles</li>
            <li class="about-me__strengths-element-list element-list">• Curiosidad por nuevas tecnologias</li>
        </ul>
    </div>

    <div class="about-me__vision">
        <h2 class="about-me__vision-title">Visión</h2>
        <p class="about-me__vision-text">
            Consolidarme como desarrollador .NET de aplicaciones web para soluciones en procesos internos
            que reduzcan tiempos operativos y error humano
        </p>
    </div>
</section>