<section class="experience-projects">

    <section class="experience">
        <h2 class="experience-title">Experiencia</h2>

        @* Cards Experience Job *@
        <div class="experience__card-job">
            <img src="img/daikin-logo.png" class="experience__job-image" alt="Logo Daikin">
            <h3 class="experience__job-position">Desarrollador .NET</h3>
            <p class="experience__job-company">Daikin Manufacturing Mexico S.A. de C.V.</p>
            <p class="experience__job-date">Septiembre 2024 - Enero 2026</p>
        </div>
    </section>

    <section class="experience__projects">
        <h2 class="experience__projects-title">Proyectos Destacados</h2>

        @* Cards Experience Projects *@
        <div class="experience__card-project">
            <img src="img/wids-logo.png" class="experience__project-image" alt="Logo WiDS">
            <h3 class="experience__project-title">Datathon WiDS 2021</h3>
            <p class="experience__project-description">
                Participación en el Datathon WiDS 2021, organizado por --Pendiente, 
                donde desarrollé un modelo predictivo utilizando Python y técnicas de machine learning. 
                El proyecto se centró en analizar datos de salud para prevenir cancer de mamas en fases tempranas.
            </p>
        </div>

        <div class="experience__card-project">
            <img src="img/portfolio-logo.png" class="experience__project-image" alt="Logo WiDS" />
            <h3 class="experience__project-title">Datathon WiDS 2025</h3>
            <p class="experience__project-description">
                Participación en el Datathon WiDS 2025, organizado por --Pendiente, 
                donde desarrollé un modelo predictivo utilizando Python y técnicas de machine learning. 
                El proyecto se centró en analizar datos de salud para identificar TDA o TDAH principalmente en mujeres adolecentes y adultos.
            </p>
        </div>
    </section>
</section>