<section class="skills">
    <section class="skills__hardskills">
        <h2 class="skills__hardskills-title">Habilidades Técnicas</h2>
        <ul class="skills__hardskills-list">
            <li class="skills__hardskills-element-list element-list">C#</li>
            <li class="skills__hardskills-element-list element-list">.NET 8</li>
            <li class="skills__hardskills-element-list element-list">SQL Server</li>
            <li class="skills__hardskills-element-list element-list">SAP ERP</li>
            <li class="skills__hardskills-element-list element-list">Oracle ERP</li>
            <li class="skills__hardskills-element-list element-list">JavaScript</li>
            <li class="skills__hardskills-element-list element-list">Python (básico)</li>
            <li class="skills__hardskills-element-list element-list">Git</li>
        </ul>
    </section>

    <section class="skills__softskills">
        <h2 class="skills__softskills-title">Habilidades Blandas</h2>
        <ul class="skills__softskills-list">
            <li class="skills__softskills-element-list element-list">Resolución de Problemas</li>
            <li class="skills__softskills-element-list element-list">Trabajo en Equipo</li>
            <li class="skills__softskills-element-list element-list">Comunicación Efectiva</li>
            <li class="skills__softskills-element-list element-list">Adaptabilidad</li>
            <li class="skills__softskills-element-list element-list">Gestión del Tiempo</li>
            <li class="skills__softskills-element-list element-list">Pensamiento Crítico</li>
        </ul>
    </section>

    <section class="skills__frameworks">
        <h2 class="skills__frameworks-title">Frameworks y Librerías</h2>
        <ul class="skills__frameworks-list">
            <li class="skills__frameworks-element-list element-list">ASP.NET MVC/Core</li>
            <li class="skills__frameworks-element-list element-list">Bootstrap</li>
            <li class="skills__frameworks-element-list element-list">jQuery</li>
            <li class="skills__frameworks-element-list element-list">n8n</li>
        </ul>
    </section>
</section>